/* *{
    border: 2px dotted red;
} */

body {
    /* background-image: url("imagens/fundo.gif"); */
    /* background-image: url("imagens/code4.gif"); */
    background-image: url("imagens/4zeM.gif");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    background-color: rgb(177, 192, 203);
    height: 100vh;
    margin: 0;
    color: beige;
}

#img-dxa {
    width: 150px;
}

.pessoal {
    min-height: 900px;
    
}

.pessoal-bola {
    /* border: 1px solid red; */
    width: 425px;
    height: 425px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
}

.about-me {
    background-color: rgb(221, 221, 221);
    opacity: 0.75;
    color: rgb(24, 39, 1);
    font-size: 17px;
    font-weight: 500;
    padding: 15px;
    border-radius: 15px;
}

/* .card{
    background-color: black;
    opacity: 0.85;
    color: greenyellow;
    font-size: 17px;
    font-weight: 600;
}
.card a img{
    width: 100%;
} */
.entrada-acontecimento {
    /* background-color: black; */
    background-color: rgb(43, 6, 6);
    opacity: 0.85;
    /* color: rgb(47, 231, 255); */
    font-size: 17px;
    font-weight: 600;
    border-radius: 20px;
}

.entrada-acontecimento div {
    padding: 25px;
    border-radius: 20px;
}

.portefolio .card img {
    width: 100%;
    border-radius: 20px;
    /* height: 300px !important; */
}

.portefolio .card p {
    height: 300px !important;
    overflow: auto;
    padding: 15px 5px;
    color: rgb(255, 230, 230);
    font-size: 15px;
    font-weight: 500;
}

.portefolio .card {
    max-width: 300px;
    height: 500px;
    border: 1px solid rgb(43, 6, 6);
    border-radius: 20px;
    /* background-color: rgb(255, 255, 255); */
    background-color: rgb(43, 6, 6);
    opacity: 0.85;
    padding: 0;
    /* color: black; */
}

.linha-direita {
    border-right: 4px solid white;
}

.contactos{
    border: none;
    width: 37px !important;
    height: 37px !important;
    background-color: #00000000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.contactos:hover{
    transition-duration: 0.7s;
}

#linkdin{
    background-image: url("imagens/linkedin.png");
}
#github{
    background-image: url("imagens/github.png");
}
#email{
    background-image: url("imagens/email.png");
}
#cvpt{
    background-image: url("imagens/cv1.png");
}
#cven{
    background-image: url("imagens/cv2.png");
}

#pt{
    background-image: url("imagens/pt2.png");
}

#en{
    background-image: url("imagens/en2.png");
}

#linkdin:hover{
    background-image: url("imagens/linkedin-logo.png");
}
#github:hover{
    background-image: url("imagens/git2.png");
}
#email:hover{
    background-image: url("imagens/email2.png");
}
#cvpt:hover{
    background-image: url("imagens/cv.png");
}
#cven:hover{
    background-image: url("imagens/cv.png");
}
label{
    text-transform: capitalize;
}


@media screen and (max-width: 767px) {
    .linha-direita {
        border-right: none;
    }

    .linha-baixo {
        border-bottom: 4px dotted white;
        border-radius: 20px;
    }
    .pessoal-bola {
        font-size: 0.5rem;
        width: 350px;
        height:350px;
    }
}